@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  position: relative;
  font-size: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #334257;
}
/*LOSE*/
.lose {
  width: calc(50% + 1px);
  height: calc(70% + 1px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.lose-text {
  font-size: 5rem;
  font-weight: 600;
}
.lose {
  background-color: #f05945;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.lose-button {
  border: none;
  width: 10rem;
  height: 5rem;
}
.lose-button:hover {
  background-color: gray;
  color: #fff;
}
.lose-text {
  color: #fff;
}
.lose-score,
.lose-word {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}
.hidden {
  display: none;
}
/*WRAPPER*/
.wrapper {
  width: 50%;
  height: 70%;
  /* background-color: #476072; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border-radius: 0.5rem 5rem 0.5rem 5rem; */
  border: 1px solid #fff;
}
/*TITLE */
.title {
  width: 100%;
}
.title-name {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  text-shadow: -0.5px 0px 3px #fff;
  font-weight: 700;
}
.title-smallname {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
/*INTERFACE*/
.interface {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  color: #fff;
}
.interface-lives {
  display: flex;
  justify-content: center;
  align-items: center;
}
.interface-score {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lives-text {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.score-text {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
/*WORD*/
.word {
  display: flex;
  justify-content: center;
  align-items: center;
}
.word-list {
  color: #fff;
  list-style-type: none;
  display: flex;
  font-size: 3rem;
}
.guess {
  margin-left: 1rem;
}
/*BUTTONS*/
.buttons {
  width: 80%;
  height: 15%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-self: center;
  text-align: center;
}

.button-alphabet {
  font-size: 1.5rem;
  max-height: 50px;
  border: none;
  background-color: #f7f3e9;
  margin: 1px;
  color: #000;
}
.button-alphabet:hover {
  color: crimson;
}
